<?xml version="1.0"?>
<config>
    <modules>
        <Jakopec_InchooPayDay>
            <version>0.1.0</version>
        </Jakopec_InchooPayDay>
    </modules>
    <frontend>
        <routers>
            <inchoopayday>
                <use>standard</use>
                <args>
                    <module>Jakopec_InchooPayDay</module>
                    <frontName>inchoopayday</frontName>
                </args>
            </inchoopayday>
        </routers>
        <layout>
            <updates>
                <inchoopayday>
                    <file>inchoopayday.xml</file>
                </inchoopayday>
            </updates>
        </layout>
    </frontend>
    <global>
    	<payment>
        	<cc>
                <types>
                    <VI>
                        <code>VI</code>
                        <name>Visa</name>
                        <order>10</order>
                    </VI>
                    <DC>
                        <code>DC</code>
                        <name>Diners Club</name>
                        <order>30</order>
                    </DC>
                </types>
            </cc>
         </payment>
    	<fieldsets>
    		 <sales_convert_quote_payment>
    		 	<check_no>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_no>
    		 	<check_date>
    		 		<to_order_payment>*</to_order_payment>
    		 	</check_date>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <inchoopayday>
                <class>Jakopec_InchooPayDay_Model</class>
                <resourceModel>inchoopayday_mysql4</resourceModel>
            </inchoopayday>
            <inchoopayday_mysql4>
                <class>Jakopec_InchooPayDay_Model_Mysql4</class>
                <entities>
                    <inchoopayday>
                        <table>inchoopayday</table>
                    </inchoopayday>
                </entities>
            </inchoopayday_mysql4>
        </models>
        <resources>
            <inchoopayday_setup>
                <setup>
                    <module>Jakopec_InchooPayDay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inchoopayday_setup>
            <inchoopayday_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inchoopayday_write>
            <inchoopayday_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inchoopayday_read>
        </resources>
        <blocks>
            <inchoopayday>
                <class>Jakopec_InchooPayDay_Block</class>
            </inchoopayday>
        </blocks>
        <helpers>
            <inchoopayday>
                <class>Jakopec_InchooPayDay_Helper</class>
            </inchoopayday>
        </helpers>
    </global>
    <default>
        <payment>
            <inchoopayday>
                <active>1</active>
                <model>inchoopayday/inchoopayday</model>
                <order_status>processing</order_status>
                <title>Jakopec Inchoo PayDay metoda</title>
            </inchoopayday>
            
         </payment>
    </default>
</config>